# OS
# ===========
.DS_Store
ehthumbs.db
Icon?
Thumbs.db

# Node and related ecosystem
# ==========================
.nodemonignore
node_modules
.bower-*/
bower_components

# General
# =======
*.log*
dist
typings
target

# Editors
# =======
.idea
.vscode

# Docs
docs

# Angular
compiled/
